
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f8f9fb;
}
.tour-section {
  padding: 40px;
  background: #f6fbfd;
}

.tour-section h2 {
  text-align: start;
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: bold;
}

.tour-slider {
  display: flex;
  gap: 25px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 10px;
}

.tour-slider::-webkit-scrollbar {
  display: none;
}

.tour-card {
  min-width: 350px;
  width: 30rem;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0,0,0,.1);
  flex-shrink: 0;
  transition: .3s;
}

.tour-card:hover {
  transform: translateY(-8px);
}

.tour-card img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.tour-content {
  padding: 18px;
}

.tour-content h3 {
  margin-bottom: 10px;
}

.tour-content p {
  color: #666;
  font-size: 14px;
  line-height: 22px;
}

.tour-info {
  display: flex;
  justify-content: space-between;
  margin: 18px 0;
  color: #555;
}

.tour-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tour-footer h4 {
  color: #222;
  font-size: 24px;
}

.tour-footer button {
  background: #2451c4;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}

.tour-footer button:hover {
  background: #129fc1;
}